* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 70%;
  border: 1px solid red;
  margin: 0 auto;
  height: 60vh;
}

.carousel {
  width: 100%; /* 80% width of the container */
  border: 1px solid blue;
}

.image-container {
  width: 100%;
}

.carousel-image {
  width: 100%;
  height: auto;
}

.text-overlay {
  position: absolute;
  top: 50%; /* Adjust to center vertically */
  left: 50%; /* Adjust to center horizontally */
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
}



